.squareGrid {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-style: solid;
    border-width: 0.5px;
}
  
.row {
    display: flex;
    height: 100%;
    justify-content: stretch;
}
  
.square {
    background: white;
    border-style: solid;
    height: 100%;
    width: 100%;
    border-width: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
 }